@import "tailwindcss";

@theme {
  --bg-lesson-light: rgba(254, 252, 253, 0.6);
  --bg-lesson-dark: rgba(9, 28, 50, 0.6);
}

@utility lessonCard {
  @apply bg-[var(--bg-lesson-light)] min-h-30 flex flex-col justify-center items-center rounded-xl p-2 shadow-md text-[#5D5D81] cursor-pointer
  dark:bg-[var(--bg-lesson-dark)] dark:text-[#FEFCFD] hover:shadow-2xl relative;
}

@utility lessonNumber {
  @apply text-6xl font-bold w-full text-center;
}

@utility lessonTitle {
  @apply text-xl font-bold text-center lg:hidden px-3;
}

@layer utilities {
  .lessonCard:hover .lessonTitle {
    @apply block;
  }
  .lessonCard:hover .lessonNumber {
     @apply lg:hidden;
   }
}

@utility isCompleted {
  @apply text-green-600 absolute bottom-3 right-4;
}
