@import "tailwindcss";

@theme {
  --shadow-next-button: 0 0 10px 2px rgba(0, 0, 0, 0.25);
}

@utility lesson-view {
  @apply min-h-screen bg-[#BFCDE0] w-full dark:bg-[#223C5B] px-5 md:px-40 py-5;
}

@utility lesson-materials {
  @apply my-5 p-2 cursor-pointer rounded-lg inline-block bg-amber-600 text-white font-bold hover:bg-amber-700
  active:bg-amber-800 text-sm md:text-lg;
}

@utility lesson-control-btns {
  @apply flex justify-center md:justify-end items-center;
}

@utility lesson-control-btn {
  @apply relative;
}

@utility next-lesson-btn {
  @apply p-4 rounded-full shadow-next-button bg-[#3B3355] dark:bg-[#091B31] text-white m-4
  hover:transform hover:scale-110 transition-transform duration-500 cursor-pointer;
}

@utility restart-lesson-btn {
  @apply p-4 rounded-full shadow-next-button bg-green-500 text-white m-4 hover:bg-green-600 active:bg-green-800
  hover:transform hover:scale-110 transition-transform duration-500 cursor-pointer;
}

@utility tooltip {
  @apply absolute -top-9 left-1/2 -translate-x-1/2 whitespace-nowrap p-2 px-4 text-white rounded-lg
  shadow-xs bg-black/50 invisible group-hover:visible;
}

.tooltip-arrow {
  @apply absolute left-1/2 -translate-x-1/2 w-[20px] h-[10px] bg-black/50 bottom-[-10px];

  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

@utility last-lesson-message {
  @apply text-center text-gray-500 p-4 border-2 border-dashed border-gray-500;
}

@utility last-lesson-message-link {
  @apply text-blue-500 underline hover:text-blue-600 active:text-blue-800;
}
